@use "variables";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;

  @media (min-width: 1000px) {
    font-size: 1.2rem;
  }
}

body {
  font-family: monospace;
  color: #fff;
  background-color: rgb(201, 198, 198);
  overflow: visible;
}

input {
  background-color: transparent;
  color: #222;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@mixin flexbox($direction: row, $jc: center, $ai: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $ai;
}
