@use "variables";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  color: #fff;
  background-color: rgb(201, 198, 198);
  overflow: visible;
}

input {
  background-color: transparent;
  color: #222;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
