@use "base";
@use "variables";

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.container {
  perspective: 1000px;
  perspective-origin: 50% 30%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  padding-top: 6rem;
}

.card {
  position: absolute;
  top: 0;
  width: 352px;
  height: 223px;
  background: linear-gradient(30deg, #93278f, #29abe2);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: -1px 10px 11px 2px rgb(0 0 0 / 30%);
  transform-style: preserve-3d;
  transition: transform 0.6s;

  &-front,
  &-back {
    position: absolute;
    inset: 0 0 0 0;
  }

  &-front {
    @include base.flexbox(column, space-between, stretch);
    backface-visibility: hidden;
    padding: 2rem;

    &-top {
      @include base.flexbox(row, space-between, center);
    }

    &-cardNumber {
      color: variables.$clr-white;
      font-size: variables.$fs-medium;
    }

    &-bottom {
      @include base.flexbox(row, space-between, center);
    }
  }

  &-back {
    transform: rotateY(180deg);
    backface-visibility: hidden;

    &-cvv {
      position: absolute;
      left: 2rem;
      bottom: 2rem;
      padding: 0.7rem;
      @include base.flexbox(row, flex-end, center);
      gap: 1rem;
      color: variables.$clr-black;

      &::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 40px;
        background: #fff;
        border-radius: 50%;
        z-index: -1;
        left: 0px;
        top: 0;
      }
      &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 40px;
        background: #fff;
        border-radius: 50%;
        z-index: -1;
        right: 0px;
        top: 0;
      }
    }

    &-stripe {
      width: 100%;
      height: 40px;
      background: #000;
      position: relative;
      top: 30px;
    }
  }

  &-expiryDate-wrapper,
  &-holder-wrapper {
    @include base.flexbox(column, flex-end, stretch);

    gap: 0.3rem;
  }
  &-expire-value {
    align-self: flex-start;
  }

  &-holder-value {
    align-self: flex-start;
  }

  &-key {
    font-size: variables.$fs-small;
    text-transform: capitalize;
  }
}

.form-container {
  width: clamp(350px, 50vw, 700px);
  @include base.flexbox(column, stretch, stretch);
  background: rgb(255, 255, 255);
  padding: 160px 16px 16px;
  box-shadow: 0px 5px 13px 0px rgb(0 0 0 / 35%);
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.4rem;

  &-value {
    border-radius: 10px;
    padding: 0.5rem;
    border: 2px solid rgb(228, 221, 221);
    font-size: 1rem;
  }

  &-key {
    color: variables.$clr-text-gray;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 2px;
  }
}

.expiry_cvv {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
